<h4>Bellevue</h4>
<ul>
    <li><a href="http://www.bevmo.com/StoreLocator">BevMo</a></li>
    <li><a href="http://www.worldmarket.com/store-locator/bellevue.do">Cost Plus World Market</a></li>
    <li><a href="http://www.totalwine.com/eng/storeLocator/redirect.cfm?sectionID=b2c/storeLocator/storeDetails.cfm&storeid=1&locationId=17813">Total Wine</a></li>
    <li><a href="http://www.wholefoodsmarket.com/stores/bellevue">Whole Foods</a></li>
</ul>
<h4>Bonney Lake</h4>
<ul>
    <li><a href="http://nwcapsntaps.com/">NW Caps N Taps</a></li>
</ul>
<h4>Federal Way</h4>
<ul>
    <li><a href="http://www.99bottles.net/">99 Bottles</a></li>
    <li><a href="http://www.totalwine.com/eng/storeLocator/redirect.cfm?sectionID=b2c/storeLocator/storeDetails.cfm&storeid=1&locationId=17839">Total Wine</a></li>
</ul>
<h4>Gig Harbor</h4>
<ul>
    <li><a href="http://harborgreensmarket.com/locate_contact">Harbor Greens</a></li>
</ul>
<h4>Issaquah</h4>
<ul>
    <li><a href="http://www.bevmo.com/StoreLocator">BevMo</a></li>
</ul>
<h4>Lakewood</h4>
<ul>
    <li><a href="http://www.tacomaboys.com/locations.html">H &amp; L Produce</a></li>
    <li><a href="">Kindred Spirits</a></li>
</ul>
<h4>Lynwood</h4>
<ul>
    <li><a href="http://www.worldmarket.com/store-locator/lynnwood.do">Cost Plus World Market</a></li>
    <li><a href="http://www.totalwine.com/eng/storeLocator/redirect.cfm?sectionID=b2c/storeLocator/storeDetails.cfm&storeid=1&locationId=17833">Total Wine</a></li>
    <li><a href="http://www.wholefoodsmarket.com/stores/lynnwood">Whole Foods</a></li>
</ul>
<h4>Olympia</h4>
<ul>
    <li><a href="http://www.gravitybeermarket.com/">Gravity Beer Market</a></li>
    <li><a href="http://www.ralphsthriftway.com/">Ralph's Thriftway</a></li>
    <li><a href="http://www.worldmarket.com/store-locator/olympia.do">Cost Plus World Market</a></li>
    <li><a href="http://www.totalwine.com/eng/storeLocator/redirect.cfm?sectionID=b2c/storeLocator/storeDetails.cfm&storeid=1&locationId=17834">Total Wine</a></li>
</ul>
<h4>Puyallup</h4>
<ul>
    <li><a href="http://www.tacomaboys.com/locations.html">Tacoma Boys</a></li>
    <li><a href="http://www.totalwine.com/eng/storeLocator/redirect.cfm?sectionID=b2c/storeLocator/storeDetails.cfm&storeid=1&locationId=17840">Total Wine</a></li>
</ul>
<h4>Redmond</h4>
<ul>
    <li><a href="http://www.bevmo.com/StoreLocator">BevMo</a></li>
    <li><a href="http://www.wholefoodsmarket.com/stores/redmond">Whole Foods</a></li>
</ul>
<h4>Renton</h4>
<ul>
    <li><a href="http://www.worldmarket.com/store-locator/renton.do">Cost Plus World Market</a></li>
</ul>
<h4>Seattle</h4>
<ul>
    <li><a href="http://bottleworksbeerstore.blogspot.com/">Bottleworks</a></li>
    <li><a href="http://chucks85th.com/">Chuck's 85th</a></li>
    <li><a href="http://www.downtown-spirits.com/">Downtown Spirits</a></li>
    <li><a href="http://www.fullthrottlebottles.com/">Full Throttle Bottles</a></li>
    <li><a href="http://www.thebeerjunction.com/">The Beer Junction</a></li>
    <li><a href="http://www.bevmo.com/StoreLocator">BevMo (Ballard)</a></li>
    <li><a href="http://www.bevmo.com/StoreLocator">BevMo (Northgate)</a></li>
    <li><a href="http://www.worldmarket.com/store-locator/seattle.do">Cost Plus World Market</a></li>
    <li><a href="http://metropolitan-market.com/locations/?store=magnolia">Metropolitan Market (Magnolia)</a></li>
    <li><a href="http://metropolitan-market.com/locations/?store=uptown">Metropolitan Market (Queen Anne)</a></li>
    <li><a href="http://www.wholefoodsmarket.com/stores/interbay">Whole Foods (Interbay)</a></li>
    <li><a href="http://www.wholefoodsmarket.com/stores/rooseveltsquare">Whole Foods (U. District)</a></li>
    <li><a href="http://www.wholefoodsmarket.com/stores/southlakeunion">Whole Foods (S. Lake Union)</a></li>
</ul>
<h4>Tacoma</h4>
<ul>
    <li><a href="">Dave's Meats and Produce</a></li>
    <li><a href="http://www.pintdefiance.com/">Pint Defiance</a></li>
    <li><a href="http://www.stadiumthriftway.com/">Stadium Thriftway</a></li>
    <li><a href="http://www.tacomaboys.com/locations.html">Tacoma Boys</a></li>
    <li><a href="http://tacomafoodcoop.com/">Tacoma Food Co-op</a></li>
    <li><a href="http://www.thecopperdoor.net/">The Copper Door</a></li>
    <li><a href="http://www.bevmo.com/StoreLocator">BevMo</a></li>
    <li><a href="http://metropolitan-market.com/locations/?store=proctor">Metropolitan Market</a></li>
    <li><a href="http://tacomaworldbeer.com/">Tacoma World Beer</a></li>
    <li><a href="http://liquornliquor.com/">Liquor &amp; Liquor</a></li>
</ul>
<h4>Tukwila</h4>
<ul>
    <li><a href="http://www.worldmarket.com/store-locator/tukwila.do">Cost Plus World Market</a></li>
    <li><a href="http://www.totalwine.com/eng/storeLocator/redirect.cfm?sectionID=b2c/storeLocator/storeDetails.cfm&storeid=1&locationId=17819">Total Wine</a></li>
</ul>
<h4>University Place</h4>
<ul>
    <li><a href="http://harborgreensmarket.com/locate_contact">Harbor Greens</a></li>
</ul>
<h4>Woodinville</h4>
<ul>
    <li><a href="http://www.worldmarket.com/store-locator/woodinville.do">Cost Plus World Market</a></li>
</ul>
