html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color:#3d2a2e;
    background: #ddd url("/img/wall_bg.png") repeat;
    font-family: 'Sintony', sans-serif;
}
#page {
    box-shadow: 5px 0px 12px #999;
    border-left: 1px solid #d6d6d6;
    background-color: #ffffff;
    background: url("/img/plane_bg.png") repeat, url("/img/dots.png") repeat-y;
    max-width: 1000px;
    min-width: 480px;
    margin: auto;
    margin-bottom: -4em;
    min-height: 100%;
    height: auto !important; /*min-height hack*/
    height: 100%;            /*min-height hack*/
    position: relative;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #372529;
}
a:hover {
    text-decoration: underline;
}

#page {
    margin: auto;
    height:auto !important;
    min-height:100%;
}
#page-inner{
    background: url("/img/plane_bg.png") repeat;
}
#nav {
    position: absolute;
    top: 0px;
    bottom: 0px;
    min-height: 500px;
    width: 10em;
    border-right: 10px solid #372529;
}
#logo {
    position: relative;
}
#logo-img {
    position: absolute;
    top: 15px;
    left: 5px;
    height: 150px;
    width: 150px;
    z-index: 10;
}
#bigstamp {
    position: absolute;
    top: -50px;
    right: -200px;
    -webkit-transform:rotate(-20deg);
    opacity: 0.25;
}
#menu {
    margin: 180px 0 0 0;
    padding: 0;
    list-style-type: none;
    padding-left: 2em;
    font-family: 'Nixie One', cursive;
}
#menu a {
    color: white;
    display: block;
}
#menu li {
    background: #372529;
    color: white;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    margin-bottom: 5px;
}
#menu li:hover {
    margin-left: -15px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 10em;
}
#copyright {
    font-size: 60%;
    text-align: center;
    margin-bottom: .5em;
}

#newsletter {
    margin: 25px auto;
    padding: .5em;
    width: 6.25em;
    text-align: center;
    font-weight: bold;
    border: 2px solid #3d2a2e;
    background: white;
}
#content {
    height: 100%;
    margin-left: 10em;
    padding-left: 10px;
    z-index: 10;
    position:relative;
}

h2.tagline {
    color: black;
    font-size: 200%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#index {
    padding: 20px;
}
#facebook-feed {
    background:white;
    width: 350px;
    float:right;
    margin-left: 20px;
}

#beer {
}
#beer h1 {
    margin: 0;
    padding: .5em;
}
#beer-intro {
    margin-left: 1em;
}
#beer-intro p {
    margin-top: 0;
}
.beertype {
    border-top: 5px solid #372529;
    color: white;
    background: #554245;
    min-height: 40px;
    margin: -5px 0 0 0;
    overflow: auto;
    font-family: 'Nixie One', cursive;
}
.beertype h2 {
    position:relative;
    background: #372529;
    margin: 0px;
    padding: 0 0 0 .5em;
    height: 40px;
    line-height: 40px;
    width: 9.5em;
    float: left;
    font-weight: normal;
}
.beertype h2 .tail {
    background: #372529;
    position:absolute;
    top: 0px;
    height: 0px;
    width: 0px;
    right:-25px;
    border-top: 40px solid transparent;
    border-right: 25px solid #554245;
}
.beertype .details {
    font-weight: normal;
    margin-left: 18em;
    padding: 2px 0 0 30px;
    font-size: 85%;
}
.beerlist {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.beerlist li {
    margin: 0px;
    padding: 5px;
}
.beerinfo {
    border-bottom: 5px solid #372529;
    position:relative;
    overflow:auto;
}
.beerinfo p {
    margin: 0;
}
.beerinfo h3 {
    margin: 0;
    padding: 0 0 .25em 0;
    font-weight: bold;
}
.beerlogo {
    float: left;
    width: 175px;
    height: 150px;
    background: white;
    border-right: 1px solid #554245;
    margin: -5px 10px -5px -5px;
}

#footer {}
#social {
    padding: .5em;

}
#social ul {
    width: 9em;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#social li {
    padding-bottom: .5em;
}

#contact {
    padding: 20px;
}
#contact h1 {
    margin: 0;
}

#contact-map {
    border: 1px solid #3d2a2e;
    width: 380px;
    height: 380px;
}

#taproom {
    padding: 20px;
}
#taproom h1 {
    margin: 0;
}


#taproom-map {
    border: 1px solid #3d2a2e;
    float:left;
    margin-right: 10px;
}

#taproom-galleria {
    width: 382px;
    height: 382px;
    float:left;
}

/*
dark1/font: 3d2a2e
font2: 6c5a5d
dark2: 372529
light1: 504042
light2: 554245
red: ef3f23
*/