html,body {
    height: 100%;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #372529;
}
a:hover {
    text-decoration: underline;
}

body {
    padding: 0px;
    margin: 0px;
    color:#3d2a2e;
    background: #ddd url("/img/wall_bg.png") repeat;
}

#page {
    margin: 0px auto;
    box-shadow: 5px 0px 12px #999;
    border-left: 1px solid #d6d6d6;
    max-width: 1000px;
    min-width: 480px;
    position:relative;
    background: #ffffff url("/img/dots.png") repeat-y;
    height: 100%;
}
#page-inner{
    height: 100%;
    background: url("/img/plane_bg.png") repeat;
}
#nav {
    position: absolute;
    top: 0px;
    bottom: 0px;
    min-height: 500px;
    width: 10em;
    border-right: 10px solid #3d2a2e;
}
#logo {
    position: relative;
}
#logo-img {
    position: absolute;
    top: 15px;
    left: 5px;
    height: 150px;
    width: 150px;
    z-index: 2;
}
#bigstamp {
    position: absolute;
    top: -50px;
    right: -200px;
    -webkit-transform:rotate(-20deg);
    opacity: 0.25;
}
#menu {
    margin: 180px 0 0 0;
    padding: 0;
    list-style-type: none;
    padding-left: 2em;
}
#menu a {
    color: white;
    display: block;
}
#menu li {
    background: #372529;
    color: white;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    margin-bottom: 5px;
}
#menu li:hover {
    margin-left: -15px;
}
#social {
    position: absolute;
    bottom: 0;
}

#newsletter {
    margin: 50px auto;
    width: 8em;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
}
#content {
    position: relative;
    padding-top: 2em;
    margin-left: 12em;
}

h2.tagline {
    color: black;
    font-size: 200%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}


/*
dark1/font: 3d2a2e
font2: 6c5a5d
dark2: 372529
light1: 504042
light2: 554245
red: ef3f23
*/