html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color:#3d2a2e;
    background: #ddd url("/img/wall_bg.png") repeat;
}
#page {
    box-shadow: 5px 0px 12px #999;
    border-left: 1px solid #d6d6d6;
    background-color: #ffffff;
    background: url("/img/plane_bg.png") repeat, url("/img/dots.png") repeat-y;
    max-width: 1000px;
    min-width: 480px;
    margin: auto;
    margin-bottom: -4em;
    min-height: 100%;
    height: auto !important; /*min-height hack*/
    height: 100%;            /*min-height hack*/
    position: relative;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #372529;
}
a:hover {
    text-decoration: underline;
}

#page {
    margin: auto;
    height:auto !important;
    min-height:100%;
}
#page-inner{
    background: url("/img/plane_bg.png") repeat;
}
#nav {
    position: absolute;
    top: 0px;
    bottom: 0px;
    min-height: 500px;
    width: 10em;
    border-right: 10px solid #3d2a2e;
}
#logo {
    position: relative;
}
#logo-img {
    position: absolute;
    top: 15px;
    left: 5px;
    height: 150px;
    width: 150px;
}
#bigstamp {
    position: absolute;
    top: -50px;
    right: -200px;
    -webkit-transform:rotate(-20deg);
    opacity: 0.25;
}
#menu {
    margin: 180px 0 0 0;
    padding: 0;
    list-style-type: none;
    padding-left: 2em;
}
#menu a {
    color: white;
    display: block;
}
#menu li {
    background: #372529;
    color: white;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    margin-bottom: 5px;
}
#menu li:hover {
    margin-left: -15px;
}
#social {
    position: absolute;
    bottom: 0;
}

#newsletter {
    margin: 50px auto;
    width: 8em;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
}
#content {
    height: 100%;
    margin-left: 10em;
    padding-left: 10px;
    z-index: 10;
    position:relative;
}

h2.tagline {
    color: black;
    font-size: 200%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

#index {
    padding: 20px;
}

#beer {
}
.beertype {
    color: white;
    background: #3d2a2e;
    padding: .5em;
    margin: 0;

}
.beerlist {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.beerlist li {
    margin: 0px;
    padding: 5px;
}
.beerinfo {
    border-bottom: 5px solid #3d2a2e;
    position:relative;
    overflow:auto;
}
.beerinfo p {
    margin: 0;
}
.beerinfo h3 {
    margin: 0;
    padding: 0;
}
.beerlogo {
    float: left;
    width: 175px;
    height: 125px;
    margin: -5px 10px -5px -5px;
    background: #fff;
}

/*
dark1/font: 3d2a2e
font2: 6c5a5d
dark2: 372529
light1: 504042
light2: 554245
red: ef3f23
*/