<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Nixie One', 'Sintony']
            }
        });
    </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />


    <!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script -->

    <meta property="fb:admins" content="1414269123,1097262343,44902196,562035011,17702500,598350098" />

    <link rel="canonical" href="http://wingmanbrewers.com/"/>

    <meta name="geo.position" content="47.241093;-122.427365">
    <meta name="geo.placename" content="Tacoma, WA">
    <meta name="geo.region" content="US-WA">

    <meta property="og:title" content="Wingman Brewers" />
    <meta property="og:type" content="company" />
    <meta property="og:url" content="http://wingmanbrewers.com/" />
    <meta property="og:image" content="http://wingmanbrewers.com/img/logo_white_bg.png" />
    <meta property="og:description" content="{{ page.description }}" />

    <meta property="og:latitude" content="47.241093" />
    <meta property="og:longitude" content="-122.427365" />
    <meta property="og:street-address" content="509 1/2 Puyallup Ave." />
    <meta property="og:locality" content="Tacoma" />
    <meta property="og:region" content="WA" />
    <meta property="og:postal-code" content="98421" />
    <meta property="og:country-name" content="USA" />

    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description }}">

    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="image_src" href="http://wingmanbrewers.com/img/logo_white_bg.png" />

</head>
<body>

<div id="page">

    <div id="logo">
        <a href="/"><img id="logo-img" src="/img/logo.png"></a>
        <img id="bigstamp" src="/img/bigstamp.png">
    </div>

    <div id="nav">
        <ul id="menu">
            <li><a href="/beer/">Beer</a></li>
            <li><a href="/taproom/">Taproom</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>

        <div id="newsletter">
            <a id="mailchimp" href="http://eepurl.com/bghEP">Sign Up For Our Email Newsletter</a>
        </div>

        <div id="social">
            <div id="follow-us">Follow Us:</div>
            <ul>
                <li><a href="http://twitter.com/WingmanBrewers">Twitter</a></li>
                <li><a href="http://www.facebook.com/WingmanBrewers">Facebook</a></li>
                <li><a href="https://plus.google.com/101738650225991573986/">Google+</a></li>
            </ul>
        </div>

    </div>

    <div id="content">
    {{ content }}
    </div>

    <div id="footer">
        <!-- p>
            P.S.  We can always use a few good reviews:
        </p>
        <ul>
            <li><a href="http://www.ratebeer.com/Places/ShowPlace.asp?PlaceID=18481" title="RateBeer profile for Wingman Brewers">RateBeer</a></li>
            <li><a href="http://beeradvocate.com/beer/profile/24029" title="Beer Advocate profile for Wingman Brewers">Beer Advocate</a></li>
            <li><a href="http://maps.google.com/maps/place?cid=15407136831120798474" title="Google Places page for Wingman Brewers">Google Places</a></li>
            <li><a href="http://untappd.com/wingmanbrewers" title="Untappd profile for Wingman Brewers">Untappd</a></li>
        </ul -->
        <div id="copyright">&copy; 2013 Wingman Brewers</div>
    </div>

</div><!-- #page -->

<!-- Google Analytics -->
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18833578-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);
    })();
</script>
<!-- End of Google Analytics -->

</body>
</html>
